/* source-sans-pro-300 - greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v10-greek_latin_greek-ext_cyrillic_vietnamese_latin-ext_cyrillic-ext-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
