// solarized colors
@base02: #073642;
@base1: #93a1a1;
@base3:  #fdf6e3;
@base01: #586e75;
@base00:  #657b83;
@base02:  #073642;
@base03: #002b36;

// Font family
@sans: 'Source Sans Pro', 'Verdana', sans-serif;
@mono: 'Source Code Pro', 'Consolas', monospace;

// Body
@body-bg: @base3;
@text-color: @base03;

// Links
@link-color: @base02;
@link-hover-color: @base1;

// Sidebar (aside)
@sidebar-bg: @base01;
@sidebar-text-color: @base3;
@sidebar-link-color: @base3;
@sidebar-link-hover-color: @base00;

// Buttons
@btn-bg: @base02;
@btn-text-color: @base3;
@btn-hover-color: @base1;

// Tag cloud
@tag-bg: @base02;
@tag-text-color: @base3;
@tag-hover-color: @base1;

// Header
@header-text-color: @base02;

// Footer
@footer-text-color: @base02;
@footer-border-color: @base00;

// Relativer posts
@rel-post-border-color: @base00;

// Nav
@nav-border-color: @base00;

// Social buttons

@email-bg-color: #578AD6;
@facebook-bg-color: #3e5b98;
@github-bg-color: #111010;
@google-bg-color: #d93e2d;
@linkedin-bg-color: #3371b7;
@pinterest-bg-color: #c92619;
@reddit-bg-color: #ff4500;
@rss-bg-color: #f26109;
@soundcloud-bg-color: #ff5500;
@stack-overflow-bg-color: #ff9900;
@twitter-bg-color: #4da7de;
@youtube-bg-color: #e02a20;
@gitlab-bg-color: #fca326;
@xing-bg-color: #007575;
