.highlight { background-color: #ffffcc }
.c { color: #888888; font-style: italic } /* Comment */
.err { color: #FF0000 } /* Error */
.k { color: #0000ff } /* Keyword */
.n { color: #000000 } /* Name */
.ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.cm { color: #888888; font-style: italic } /* Comment.Multiline */
.cp { color: #888888; font-style: italic } /* Comment.Preproc */
.cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #888888; font-style: italic } /* Comment.Single */
.cs { color: #888888; font-style: italic } /* Comment.Special */
.kc { color: #0000ff } /* Keyword.Constant */
.kd { color: #0000ff } /* Keyword.Declaration */
.kn { color: #0000ff } /* Keyword.Namespace */
.kp { color: #0000ff } /* Keyword.Pseudo */
.kr { color: #0000ff } /* Keyword.Reserved */
.kt { color: #0000ff } /* Keyword.Type */
.m { color: #33aaff } /* Literal.Number */
.s { color: #55aa22 } /* Literal.String */
.na { color: #000000 } /* Name.Attribute */
.nb { color: #000000 } /* Name.Builtin */
.nc { color: #000000 } /* Name.Class */
.no { color: #000000 } /* Name.Constant */
.nd { color: #000000 } /* Name.Decorator */
.ni { color: #000000 } /* Name.Entity */
.ne { color: #000000 } /* Name.Exception */
.nf { color: #000000 } /* Name.Function */
.nl { color: #000000 } /* Name.Label */
.nn { color: #000000 } /* Name.Namespace */
.nx { color: #000000 } /* Name.Other */
.py { color: #000000 } /* Name.Property */
.nt { color: #000000 } /* Name.Tag */
.nv { color: #000000 } /* Name.Variable */
.ow { color: #0000ff } /* Operator.Word */
.mb { color: #33aaff } /* Literal.Number.Bin */
.mf { color: #33aaff } /* Literal.Number.Float */
.mh { color: #33aaff } /* Literal.Number.Hex */
.mi { color: #33aaff } /* Literal.Number.Integer */
.mo { color: #33aaff } /* Literal.Number.Oct */
.sa { color: #55aa22 } /* Literal.String.Affix */
.sb { color: #55aa22 } /* Literal.String.Backtick */
.sc { color: #55aa22 } /* Literal.String.Char */
.dl { color: #55aa22 } /* Literal.String.Delimiter */
.sd { color: #55aa22 } /* Literal.String.Doc */
.s2 { color: #55aa22 } /* Literal.String.Double */
.se { color: #55aa22 } /* Literal.String.Escape */
.sh { color: #55aa22 } /* Literal.String.Heredoc */
.si { color: #55aa22 } /* Literal.String.Interpol */
.sx { color: #55aa22 } /* Literal.String.Other */
.sr { color: #55aa22 } /* Literal.String.Regex */
.s1 { color: #55aa22 } /* Literal.String.Single */
.ss { color: #55aa22 } /* Literal.String.Symbol */
.bp { color: #000000 } /* Name.Builtin.Pseudo */
.fm { color: #000000 } /* Name.Function.Magic */
.vc { color: #000000 } /* Name.Variable.Class */
.vg { color: #000000 } /* Name.Variable.Global */
.vi { color: #000000 } /* Name.Variable.Instance */
.vm { color: #000000 } /* Name.Variable.Magic */
.il { color: #33aaff } /* Literal.Number.Integer.Long */