{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}">
{% include "partial/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags }}{% endblock %}

{% block content %}
<article>
  <header>
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p>
      {{ _('Posted on %(when)s in %(category)s',
           when=article.locale_date,
           category='<a href="%s/%s">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}

      {% if 'post_stats' in PLUGINS %}
        &#8226; {{ article.stats['read_mins'] }} min read
      {% endif %}
    </p>
  </header>
  <div>
    {{ article.content }}
  </div>
  <div class="tag-cloud">
    <p>
      {% if article.tags %}
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>

  {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>{{ _('Like this article? Share it with your friends!') }}</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
  </div>
  {% endif %}

  {% if article.related_posts %}
  <div class="related-posts">
    <h4>{{ _('You might enjoy') }}</h4>
    <ul class="related-posts">
    {% for related_post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% include "partial/disqus.html" %}
</article>
{% endblock %}
