{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions %}
  {%- macro _(msg) -%}
    {{ msg % kwargs }}
  {%- endmacro -%}
{% endif %}

<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page in hidden_pages %}
  <meta name="robots" content="noindex, nofollow" />
  {% else %}
  <meta name="robots" content="{{ ROBOTS }}" />
  {% endif %}

  {% if USE_GOOGLE_FONTS != False %}
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  {% endif %}

  {% if USE_LESS %}
    <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js" type="text/javascript"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
  {% endif %}

  {# DARK THEME STYLES #}
  {% if THEME_COLOR == "dark" or THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE or THEME_COLOR_ENABLE_USER_OVERRIDE %}
    <link id="dark-theme-style" rel="stylesheet" type="text/css"
      {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
        {% if THEME_COLOR|default("light") == "dark" %}
          media="(prefers-color-scheme: dark), (prefers-color-scheme: no-preference)"
        {% else %}
          media="(prefers-color-scheme: dark)"
        {% endif %}
      {% elif THEME_COLOR_ENABLE_USER_OVERRIDE and THEME_COLOR|default("light") == "light" %}
        disabled="disabled"
      {% endif %}
    href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/dark-theme.min.css">
  {% endif %}

  {# PYGMENTS STYLES #}
  {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE or THEME_COLOR_ENABLE_USER_OVERRIDE or THEME_COLOR == "dark" %}
    <link id="pygments-dark-theme" rel="stylesheet" type="text/css"
          {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
            {% if THEME_COLOR|default("light") == "dark" %}
              media="(prefers-color-scheme: dark), (prefers-color-scheme: no-preference)"
            {% else %}
              media="(prefers-color-scheme: dark)"
            {% endif %}
          {% elif THEME_COLOR_ENABLE_USER_OVERRIDE and THEME_COLOR|default("light") == "light" %}
            disabled="disabled"
          {% endif %}
          href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE_DARK or PYGMENTS_STYLE or 'monokai' }}.min.css">
  {% endif %}
  {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE or not THEME_COLOR or THEME_COLOR == "light" %}
    <link id="pygments-light-theme" rel="stylesheet" type="text/css"
          {% if THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}
            {% if THEME_COLOR|default("light") == "dark" %}
              media="(prefers-color-scheme: light)"
            {% else %}
              media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
            {% endif %}
          {% endif %}
          href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
  {% endif %}

  {% if PLUGINS and ('tipue_search' in PLUGINS or 'pelican.plugins.tipue_search' in PLUGINS) %}
      {% if USE_GOOGLE_FONTS != False %}
      <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans" rel="stylesheet">
      {% endif %}
    <link rel="stylesheet" 
    href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.min.css" />
  {% endif %}

  {% if 'pelican.plugins.search' in PLUGINS %}
  <link rel="stylesheet"
        type="text/css"
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stork/stork.css" />
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/fontawesome.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/brands.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/solid.css">

  {% if CUSTOM_CSS %}
  <link rel="stylesheet" type="text/css" href="{% if main_siteurl is defined %}{{ main_site }}{% else %}{{ SITEURL }}{% endif %}/{{ CUSTOM_CSS }}">
  {% endif %}

  {% include "partial/icon.html" %}

  {% include "partial/color.html" %}

  {% include "partial/feed.html" %}

  {% include "partial/ga.html" %}
  {% include "partial/ggst.html" %}


  {% include "partial/plausible.html" %}

  {% if PGP_KEY %}
    <link rel="pgpkey" type="application/pgp-keys" href="{{ SITEURL }}/{{ PGP_KEY }}">
  {% endif %}

  {% if WEBMENTION_URL %}
    <link rel="webmention" href="{{ WEBMENTION_URL }}" />
  {% endif %}

  {% if PINGBACK_URL %}
    <link rel="pingback" href="{{ PINGBACK_URL }}" />
  {% endif %}

  {% if not PLUGINS or 'seo' not in PLUGINS %}
    {% if REL_CANONICAL %}
      {% if page %}
        <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
      {% elif article %}
        <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
      {% elif page_name == 'index' and not articles_previous_page %}
        <link rel="canonical" href="{{ SITEURL }}">
      {% elif author or category or tag or page_name == 'index' %}
        <link rel="canonical" href="{{ SITEURL }}/{{ articles_page.url }}">
      {% else %}
        <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">
      {% endif %}
    {% endif %}
  {% endif %} 

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partial/og.html" %}
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.page_level_ads %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "{{ GOOGLE_ADSENSE.ca_id }}",
      enable_page_level_ads: true
    });
  </script>
  {% endif %}

  {% include "partial/gtm.html" %}
  {% include "partial/clarity.html" %}
</head>
<body {% if not THEME_COLOR_AUTO_DETECT_BROWSER_PREFERENCE %}class="{{ THEME_COLOR|default('light') }}-theme"{% endif %}>
  {% include "partial/gtm_noscript.html" %}

  {% include "partial/sidebar.html" %}

  <main>
    {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.main_menu %}
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle ads-responsive"
           data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
           data-ad-slot="{{ GOOGLE_ADSENSE.ads.main_menu }}"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    {% endif %}

    {% include "partial/nav.html" %}

    {% block content %}
    {% endblock %}

    {% include "partial/footer.html" %}
  </main>

  {% include "partial/jsonld.html" %}
  {% include "partial/guages.html" %}
  {% include "partial/addthis.html" %}
  {% include "partial/matomo.html" %}
  {% include 'partial/github.html' %}
  {% include 'partial/stork.html' %}
  {% include 'partial/cf_analytics.html' %}

  {% block additional_js %}{% endblock %}
</body>
</html>
