{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}

<script type="text/javascript">
function disp(s) {
  var win;
  var doc;
  win = window.open("", "WINDOWID");
  doc = win.document;
  doc.open("text/plain");
  doc.write("<pre>" + s + "</pre>");
  doc.close();
  }
</script>
<section id="content" class="body">
  <h1 class="entry-title">Publications</h1>
  <ul>
    {% for key, year, text, bibtex, pdf, slides, poster in publications %}
    <li id="{{ key }}">{{ text }}
      [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
      {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster)] %}
      {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
