{% if DISQUS_SITENAME %}
<!-- Disqus -->
<div id="disqus_thread"></div>
<script>
var disqus_config = function(){
  this.page.url = '{{DISQUS_PREFIX}}' + document.location.pathname;
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//' + '{{ DISQUS_SITENAME }}' + '.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>
    {{ _('Please enable JavaScript to view comments.') }}
</noscript>
<!-- End Disqus -->
{% endif %}
